
# /
/.idea
/.project
/.settings
/*.iml

/target
# /client1/
/client1/*.iml
/client1/.classpath
/client1/.project
/client1/.settings
/client1/target

# /authentication-server/
/authentication-server/*.iml
/authentication-server/.classpath
/authentication-server/.project
/authentication-server/.settings
/authentication-server/target